.job-card {
    border: 1px solid #ccc; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 2rem; 
    padding: 20px; 
    margin: 10px; 
    background-color: #fff; 
}
.job-card:hover{
    scale: 1.01;
}
.job-card h3{
    text-transform: capitalize;
}
.location{
    text-transform: capitalize;
}


.apply-button {
    cursor: pointer;
    width: 100%;
    background-color: rgb(85, 239, 196);
    border-radius: 0.5rem;
    border-color: rgb(85, 239, 196);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 8px 18px;
}


